<nav>
    <div>
        <mat-toolbar color="primary" class="w-full flex justify-between">
            <div>
                <button mat-button (click)="GoHome()"><span class="text-xl">Grade Tracker 12978</span></button>
            </div>
            <div class="space-x-4">
                <button mat-raised-button (click)="ShowAssignments()">Show Assignments</button>
                <button mat-raised-button (click)="AddAssignment()">Add Assignment</button>
            </div>
        </mat-toolbar>
    </div>      
</nav>